@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/variables";
body {
    font-family: "San Francisco", -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
}
.fa-btn {
    margin-right: 6px;
}
.blood-top-nav {
	border:none;
}
.main-logo-cont {
	padding:0px;
	margin-right:7px;
	img {
		
		height: 100%
	}
}
